.about-box p {
  line-height: 1.8052;
  text-align: justify;
  margin-bottom: 1.8rem;
}

.about-box p:first-of-type::first-letter {
  font-family: 'Sorts Mill Goudy', serif;
  text-transform: uppercase;
  font-size: 5.5em;
  font-weight: bold;
  float:left;
  margin-right: 15px;
  margin-top: -28px;
  margin-bottom: -60px;
}

.quote-box {
  background: radial-gradient(circle, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 60%);
  padding: 40px 0;
}

.quote-text {
  letter-spacing: 0.025em;
}

.quote-author {
  text-align: right;
  margin-right: 20%;
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: rgba(0,0,0,.5);
}