h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Sorts Mill Goudy', serif;
  text-align: center;
  letter-spacing: 0.125em;
  line-height: 1.3em;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 0.9rem;
}

p {
    font-size: 0.875rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 2;
    color: rgba(0,0,0,.7);
}

.first-section {
  padding-top: 120px;
}

@media(min-width:992px) {
  .first-section {
    padding-top: 150px;
  }
}

section {
  margin-bottom: 50px;
}

.sub-section-padding {
  padding-top: 100px;
}

.v-align-middle {
  align-items: center;
}

.custom-button {
  font-size: 0.625rem;
  letter-spacing: 0.4em;
  line-height: 1.3em;
  text-transform: uppercase;
  padding: 0.875rem 2.8125rem;
}

.button-box {
  margin-top: 30px;
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: #F8F8F8;
}

nav {
  background-color: transparent;
  transition:all .8s;
}

.nav-bg-light, .nav-bg {
  background-color: rgba(255,255,255,.9);
  transition:all .8s;
}

.nav-link {
  font-size: 0.65rem;
  font-family: 'Sorts Mill Goudy', serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .3em;
  padding: 1.5rem 1rem;
}

.nav-link:not(:last-child) {
  border-bottom: 1px solid #33333338;
}

.nav-link-top, .nav-link-scroll, .nav-link:hover {
  color: #ca8c1a;
}

@media(min-width:992px) {
  nav {
    background-color: transparent;
  }

  .logo-img {
    margin-left: 20px;
    width: 25%;
  }

  .nav-link {
    padding: .8rem 1rem;
  }

  .nav-link:not(:last-child) {
    border-bottom: 0px;
  }

  .nav-link-top {
    color: #ca8c1a;
  }

  .nav-link-scroll {
    color: #000;
  }

  .navbar {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .nav-link:hover {
    border-bottom: 1px solid;
  }
}

.jumbotron {
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  position: relative;
  z-index: 0;
  height: 70vh;
  width: 100%;
}

/* footer */

.footer-bar {
  padding-top: 60px;
  margin-bottom: 10px;
}

.footer-text {
  font-size: 0.6rem;
  text-align: center;
  padding-bottom: 50px;
}

/* social media */

.socialmedia-icon {
  text-align: center;
}

img.socico {
  padding: 2px 5px 5px;
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 23px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-right: 8px;
    color: #ffffff;
    background-color: #343a40;
}

.soc a:hover {
    z-index: 2;
    background-color:#212121 !important;
}

.soc-icon-last{
    margin:0 !important;
}