.btn-price {
  letter-spacing: 0.1em;
  margin: 5px;
  white-space: nowrap;
  padding: 0.55rem 0.5rem;
  font-size: 0.625rem;
  line-height: 1.3em;
  text-transform: uppercase;
}

@media(min-width:410px) {
  .btn-price {
    padding: 0.7rem 1rem;
  }
}

@media(min-width:500px) {
  .btn-price {
    width: 150px;
    padding: 0.7rem 1rem;
  }
}

@media(min-width:768px) {
  .btn-price {
    width: 180px;
    padding: 0.875rem 1.5rem;
  }
}

.price-headline {
  margin-bottom: 50px;
}

.shootings-head {
  margin-top: 50px;
  margin-bottom: 50px;
}

.price-text-style {
  line-height: 1.8;
}

.price-bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.price-package {
  background-color: #F8F8F8E5;
  padding: 45px;
  margin: 40px;
}

@media(min-width:768px) {
  .price-package {
    padding: 45px;
    margin-top: 40px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
  }
}

.price-package-headline {
  padding-top: 20px;
}

.price-package-detail {
  font-size: 0.8rem;
  padding-top: 30px;
}

p.price-package-extra::before {
  content: '*';
}

.price-package-extra {
  padding-bottom: 30px;
  font-weight: 600;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 0.75rem;
  letter-spacing: 0.04rem;
}

.steuer {
  font-size: 0.7rem;
}

.price-footer {
  padding-top: 30px;
}

.price-footer__box {
  padding-top: 20px;
  text-align: center;
}