/*moments*/

body#moments {
  background-color: #101010;
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: top;
}

.intro-bg {
    width: 100%;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
    padding-top: 100px;
}


@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro-bg {
        width: 80%;
    }

}

